html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a,
svg,
button {
  transition: 0.3s all;
}

input,
textarea,
button {
  font-family: inherit;
}

.z-index {
  &-1 {
    z-index: 1;
  }

  &-2 {
    z-index: 2;
  }

  &-3 {
    z-index: 3;
  }
}

input:checked ~ .checkbox svg {
  display: block;
}

.hide {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mob-hidden {
  @include r(1200) {
    visibility: hidden !important;
    display: none !important;
  }
}

.desktop-hidden {
  display: none;
  visibility: hidden;
  @include r(1200) {
    display: flex;
    visibility: visible;
  }
}


.order-m {
  &-1 {
    @include r(1200) {
      order: 1;
    }
  }

  &-2 {
    @include r(1200) {
      order: 2;
    }
  }

  &-3 {
    @include r(1200) {
      order: 3;
    }
  }

  &-4 {
    @include r(1200) {
      order: 4;
    }
  }

  &-5 {
    @include r(1200) {
      order: 5;
    }
  }

  &-6 {
    @include r(1200) {
      order: 6;
    }
  }

  &-7 {
    @include r(1200) {
      order: 7;
    }
  }

  &-8 {
    @include r(1200) {
      order: 8;
    }
  }

  &-9 {
    @include r(1200) {
      order: 9;
    }
  }
}

.center {
  text-align: center;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  display: flex;
  width: rem(24);
  height: rem(24);

  &--mail {
    margin-bottom: rem(15);
    width: rem(46);
    height: rem(36);
  }

  &--accept {
    margin-bottom: rem(15);
    width: rem(36);
    height: rem(36);
  }
}

.outline {
  padding: rem(30);
  border: 1px solid #A2A2A2;
  border-radius: rem(6);

  &--slim {
    padding: rem(20);
  }

  @include r(1200) {
    padding: rem(20);
  }
}

.text-right {
  text-align: right;
  justify-content: flex-end;
}

.active {
  &--visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .2s ease-in-out;
  }
}

.img {
  display: flex;
}

.show {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

.slogan {
  text-align: center;
  margin: 0 auto;
  font-family: 'Cormorant', sans-serif;
  font-weight: 700;
  font-size: rem(52);
  line-height: rem(58);
  color: #1B2022;

  @include r(1200) {
    font-size: rem(22);
    line-height: rem(24);
  }
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $gray;
}

.scroll {
  overflow-y: auto;
  max-height: 700px;
}