.card-product {
  display: flex;
  justify-content: center;
  column-gap: rem(30);
  padding: rem(30);
  max-width: rem(1200);

  &__picture {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 640px;
    max-height: 600px;
    flex-shrink: 0;
  }
}