.picture {
  display: flex;
  width: 100%;
  height: 100%;

  img {
    display: block;
    object-fit: contain;
    object-position: center;
  }

  &--slide {
    flex-shrink: 0;
    width: rem(564);
    height: rem(564);

    @include r(1200) {
      width: rem(238);
      height: rem(238);
    }
  }

  &--video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: rem(320);
    background-color: #D9D9D9;
    cursor: pointer;
    transition: .2s linear;
    aspect-ratio: 16/9;

    @include hover;
    @include video;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &--full {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &--intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/employee-bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 20% center;

    &__img {
      width: rem(350);
      height: rem(400);

      &--full {
        width: 100%;
        height: 100%;
      }
    }
  }

  &--preview {
    display: flex;
    height: rem(400);

    @include r(1200) {
      height: rem(270);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &--step {
    img {
      width: 92%;
      object-position: top;

      @include r(1200) {
        width: auto;
      }
    }
  }
}