// Colors
$white: #FFFFFF;
$light: #EFF0F2;
$dark: #4A4A4A;
$black: #1D1D1B;
$black-dark: #090909;
$black-light: #333333;
$gray: #838383;
$gray-dark: #8B8B8B;
$gray-deep: #6D6D6D;
$gray-light: #D9D9D9;
$orange: #F25220;
$orange-dark: #D63907;
$primary: #6DA1BD;
$primary-dark: #5A7384;
$primary-deep: #2B7BC6;
$primary-opacity: #75A3BC;
$primary-light: #DAE8F0;
$hover: #4C84A1;
$active: #5C7484;
$green-light: #DEFFCF;

// Fonts
$font-main: 'Montserrat', sans-serif;