<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section pb-60">
        <div class="container">
            <div class="blog-item">
                <div class="blog-item__header">
                    <div class="blog-item__info">
                        <p class="date">21.06.22</p>
                        <h1 class="title">Краска Hygge. Почему мы выбираем именно ее?</h1>
                    </div>
                    <picture class="blog-item__picture">
                        <img src="./assets/images/blog/blog-1.jpg" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="video">

            </div>
        </div>
    </section>
    <section class="section pt-80 pb-80">
        <div class="container">
            <div class="editor editor--20 editor--gray">
                <p>
                    Сервисы магазинов – широкий ассортимент товаров для строительства, ремонта и обустройства дома в
                    розничных магазинах и интернет-магазине Леруа Мерлен Краснодара. Подберите нужный товар в нашем
                    каталоге или загляните в ближайший гипермаркет Леруа Мерлен!
                </p>
                <p>
                    Леруа Мерлен предлагает широкий выбор товаров по низким ценам для жителей Краснодарского края, таких
                    как Анапа, Анапская, Апшеронск, Армавир, Архипо-Осиповка, Афипский, Ахтырский, Белая Глина,
                    Белореченск, Брюховецкая, Варениковская, Витязево, Выселки, Геленджик, Горячий Ключ, Гостагаевская,
                    Гулькевичи, Джубга, Дивноморское, Динская, Ейск, Елизаветинская, Ильский, Кабардинка, Калининская,
                    Каневская, Кореновск, Красная Поляна, Краснодар, Кропоткин, Крыловская, Курганинск, Кущёвская,
                    Лабинск, Лазаревское, Ленинградская, Лорис, Майкоп, Медведовская, Мостовской, Мысхако, Натухаевская,
                    Новокубанск, Новомихайловский, Новомышастовская, Новопокровская, Новотитаровская, Октябрьская,
                    Отрадная, Павловская, Пластуновская, Полтавская, Приморско-Ахтарск, Раевская, Северская,
                    Славянск-на-Кубани, Смоленская, Совхозный, Сочи, Старокорсунская станица, Староминская, Супсех,
                    Тамань, Тбилисская, Темрюк, Тимашёвск, Тихорецк, Трудобеликовский, Туапсе, Усть-Лабинск, Хадыженск,
                    Хутор Ленина, Цемдолина, Южный. Вы можете заказать необходимые товары онлайн с доставкой во все эти
                    города или посетить один из наших розничных магазинов.
                </p>
                <p>
                    Подробную информацию о магазинах Леруа Мерлен в Краснодаре и ассортименте продукции Вы найдете на
                    нашем сайте. Также Вы можете посетить наши гипермаркеты в Краснодаре и получить подробные
                    консультации по интересующим Вас вопросам непосредственно у наших специалистов.
                </p>
            </div>
        </div>
    </section>
    <section class="section section--gray pt-60 pb-60 ptm-60 pbm-60 mb-100 mbm-60">
        <div class="container container--field">
            <h2 class="title mb-30 mbm-20">Читать далее</h2>
            <div class="slider" data-slider="blog">
                <div class="swiper" data-slide>
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                                    <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                        особенности
                                        нанесения и свойства</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Тренды 2023 в интерьере</h3>
                                    <p class="article-news__text">Расскажем о трендах в новом году от красок до
                                        мебели</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Как правильно подобрать обои?</h3>
                                    <p class="article-news__text">Бывает ли идеальный ковер, миф или реальность</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                                    <p class="article-news__text">Рассказываем про особенности нанесения и свойства
                                        краски</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                                    <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                        особенности
                                        нанесения и свойства</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slider__nav" data-nav>
                    <div class="slider__button slider__button--prev" data-button-prev>
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-scroll-arrow"></use>
                        </svg>
                    </div>
                    <div class="slider__button slider__button--next" data-button-next>
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-scroll-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>