<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section section--primary ptm-40 pbm-40">
        <div class="container">
            <div class="columns columns--center">
                <div class="columns__col columns__col--4 mbm-20">
                    <h1 class="title mb-20">Блог Dom Decor</h1>
                    <p class="subtitle">
                        Рассказываем последние новости из мира интерьера дома, тренды и новинки
                    </p>
                </div>
                <div class="columns__col columns__col--2 mob-hidden"></div>
                <div class="columns__col columns__col--6">
                    <picture class="picture picture--intro">
                        <img class="picture__img picture__img--full" src="https://fakeimg.pl/700x400" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-100 ptm-40 pb-110 pbm-60">
        <div class="container">
            <div class="grid-blog mb-50">
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--video article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
                <div class="grid-blog__item">
                    <a href="#" class="article-news">
                        <div class="article-news__header article-news__header--square">
                            <img class="article-news__img" src="https://fakeimg.pl/300x300"
                                 alt="">
                            <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                        </div>
                        <div class="article-news__body">
                            <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                            <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                особенности
                                нанесения и свойства</p>
                            <span class="link-more">Читать далее</span>
                        </div>
                    </a>
                </div>
            </div>
            <%= htmlWebpackPlugin.options.pagination %>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>