<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section mb-40">
        <div class="container">
            <div class="blog-item">
                <div class="blog-item__header mb-60">
                    <div class="blog-item__info">
                        <time class="date" datetime="21.06.2022">21.06.22</time>
                        <h1 class="title">Краска Hygge. Почему мы выбираем именно ее?</h1>
                    </div>
                    <picture class="blog-item__picture">
                        <img src="./assets/images/blog/blog-1.jpg" alt="">
                    </picture>
                </div>
            </div>
            <h2 class="slogan mb-80 mbm-40">
                <img class="img centered mb-10" src="./assets/images/quote.png" alt="">
                Компания с большим<br> ассортиментом и широкой душой
            </h2>
            <div class="quote mb-40">
                <picture class="quote__picture">
                    <img src="https://fakeimg.pl/150x150" alt="">
                </picture>
                <blockquote class="quote__quote">
                    «Can you believe ecommerce has been around since the early 90s? That’s right. We’ve been shopping
                    online since hip hop and oversized plaid shirts came on the scene – and in much the same way these
                    past 30 years.»
                </blockquote>
                <cite class="quote__author">Иванов Иван Иванович</cite>
                <p class="quote__position">Кто-то там откуда-то там</p>
            </div>
            <div class="editor mb-30">
                <p>Can you believe ecommerce has been around since the early 90s? That’s right. We’ve been shopping
                    online since hip hop and oversized plaid shirts came on the scene – and in much the same way these
                    past 30 years. Interestingly enough, the now much-hyped metaverse has also been around for three
                    decades – at least in the world of science fiction. The term first came to light in Neal
                    Stephenson’s Snow Crash, a cyberpunk novel from the early 1990s. The story takes place in a bleak
                    dystopian future where the protagonists flee to the parallel metaverse to escape from the real
                    world.</p>
            </div>
        </div>
    </section>
    <section class="section pb-100 pbm-60">
        <div class="container">
            <div class="blog">
                <div class="blog__item mb-40">
                    <div class="columns mb-40">
                        <div class="columns__col columns__col--8 columns__col--mob-4 mbm-40">
                            <div class="flex-gallery flex-gallery--column">
                                <div class="flex-gallery__box">
                                    <div class="flex-gallery__item">
                                        <article class="article-gallery">
                                            <img class="article-gallery__icon"
                                                 src="https://via.placeholder.com/600/92c95" alt="">
                                        </article>
                                    </div>
                                    <div class="flex-gallery__item">
                                        <article class="article-gallery">
                                            <img class="article-gallery__icon"
                                                 src="https://via.placeholder.com/600/92c95" alt="">
                                        </article>
                                    </div>
                                </div>
                                <div class="flex-gallery__item flex-gallery__item--full">
                                    <article class="article-gallery">
                                        <img class="article-gallery__icon"
                                             src="https://via.placeholder.com/300x1000/92c95" alt="">
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--mob-4">
                            <div class="editor">
                                <h4>Название какого-то пункта</h4>
                                <p>
                                    Can you believe ecommerce has been around since the early 90s? That’s right. We’ve
                                    been shopping
                                    online since hip hop and oversized plaid shirts came on the scene – and in much the
                                    same way these
                                    past 30 years. Interestingly enough, the now much-hyped metaverse has also been
                                    around for three
                                    decades – at least in the world of science fiction. The term first came to light in
                                    Neal
                                    Stephenson’s Snow Crash, a cyberpunk novel from the early 1990s. The story takes
                                    place in a bleak
                                    dystopian future where the protagonists flee to the parallel metaverse to escape
                                    from the real
                                    world.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="columns__col columns__col--12 columns__col--mob-4">
                            <div class="editor">
                                <p>
                                    Can you believe ecommerce has been around since the early 90s? That’s right. We’ve
                                    been shopping online since hip hop and oversized plaid shirts came on the scene –
                                    and in much the same way these past 30 years. Interestingly enough, the now
                                    much-hyped metaverse has also been around for three decades – at least in the world
                                    of science fiction. The term first came to light in Neal Stephenson’s Snow Crash, a
                                    cyberpunk novel from the early 1990s. The story takes place in a bleak dystopian
                                    future where the protagonists flee to the parallel metaverse to escape from the real
                                    world.
                                </p>
                                <p>
                                    Our ecommerce experience has changed significantly since the early days. Broadband
                                    internet made browsing ecommerce shops much easier; smartphones, apps, and
                                    responsive websites encouraged the shift to mobile ecommerce (also known as
                                    m-commerce); and new buy-now, pay later options prompted more of us to click the buy
                                    button. But all of that just might feel, well, 20th century once the metaverse takes
                                    off. This brave new virtual world has the potential to transform ecommerce from
                                    two-dimensional online shops to a fully immersive, 3D experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="columns mb-40">
                        <div class="columns__col columns__col--8 columns__col--mob-4 mbm-40">
                            <div class="editor editor--20">
                                <h4>Название какого-то пункта</h4>
                                <p>
                                    Can you believe ecommerce has been around since the early 90s? That’s right. We’ve
                                    been shopping online since hip hop and oversized plaid shirts came on the scene –
                                    and in much the same way these past 30 years. Interestingly enough, the now
                                    much-hyped metaverse has also been around for three decades – at least in the world
                                    of science fiction. The term first came to light in Neal Stephenson’s Snow Crash, a
                                    cyberpunk novel from the early 1990s. The story takes place in a bleak dystopian
                                    future where the protagonists flee to the parallel metaverse to escape from the real
                                    world.
                                </p>
                                <p>
                                    Our ecommerce experience has changed significantly since the early days. Broadband
                                    internet made browsing ecommerce shops much easier; smartphones, apps, and
                                    responsive websites encouraged the shift to mobile ecommerce (also known as
                                    m-commerce); and new buy-now, pay later options prompted more of us to click the buy
                                    button. But all of that just might feel, well, 20th century once the metaverse takes
                                    off. This brave new virtual world has the potential to transform ecommerce from
                                    two-dimensional online shops to a fully immersive, 3D experience.
                                </p>
                            </div>
                        </div>
                        <div class="columns__col columns__col--4 columns__col--mob-4">
                            <picture>
                                <img src="https://fakeimg.pl/370x430" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="columns mb-40">
                        <div class="columns__col columns__col--12 columns__col--mob-4">
                            <div class="editor editor--20">
                                <p>
                                    Can you believe ecommerce has been around since the early 90s? That’s right. We’ve
                                    been shopping online since hip hop and oversized plaid shirts came on the scene –
                                    and in much the same way these past 30 years. Interestingly enough, the now
                                    much-hyped metaverse has also been around for three decades – at least in the world
                                    of science fiction. The term first came to light in Neal Stephenson’s Snow Crash, a
                                    cyberpunk novel from the early 1990s. The story takes place in a bleak dystopian
                                    future where the protagonists flee to the parallel metaverse to escape from the real
                                    world.
                                </p>
                                <p>
                                    Our ecommerce experience has changed significantly since the early days. Broadband
                                    internet made browsing ecommerce shops much easier; smartphones, apps, and
                                    responsive websites encouraged the shift to mobile ecommerce (also known as
                                    m-commerce); and new buy-now, pay later options prompted more of us to click the buy
                                    button. But all of that just might feel, well, 20th century once the metaverse takes
                                    off. This brave new virtual world has the potential to transform ecommerce from
                                    two-dimensional online shops to a fully immersive, 3D experience.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="columns mb-40 mbm-30">
                        <div class="columns__col columns__col--4 columns__col--mob-4 mbm-40">
                            <picture>
                                <img src="https://fakeimg.pl/370x430" alt="">
                            </picture>
                        </div>
                        <div class="columns__col columns__col--8 columns__col--mob-4">
                            <div class="editor editor--20">
                                <p>
                                    Can you believe ecommerce has been around since the early 90s? That’s right. We’ve
                                    been shopping online since hip hop and oversized plaid shirts came on the scene –
                                    and in much the same way these past 30 years. Interestingly enough, the now
                                    much-hyped metaverse has also been around for three decades – at least in the world
                                    of science fiction. The term first came to light in Neal Stephenson’s Snow Crash, a
                                    cyberpunk novel from the early 1990s. The story takes place in a bleak dystopian
                                    future where the protagonists flee to the parallel metaverse to escape from the real
                                    world.
                                </p>
                                <p>
                                    Our ecommerce experience has changed significantly since the early days. Broadband
                                    internet made browsing ecommerce shops much easier; smartphones, apps, and
                                    responsive websites encouraged the shift to mobile ecommerce (also known as
                                    m-commerce); and new buy-now, pay later options prompted more of us to click the buy
                                    button. But all of that just might feel, well, 20th century once the metaverse takes
                                    off. This brave new virtual world has the potential to transform ecommerce from
                                    two-dimensional online shops to a fully immersive, 3D experience.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="columns">
                        <div class="columns__col columns__col--6 columns__col--mob-4">
                            <div class="editor text">
                                <ul>
                                    <li>
                                        Can you believe ecommerce has been around since the early 90s? That’s right.
                                    </li>
                                    <li>
                                        Can you believe ecommerce has been around since the early 90s? That’s right.
                                    </li>
                                    <li>
                                        Can you believe ecommerce has been around since the early 90s? That’s right.
                                    </li>
                                    <li>
                                        Can you believe ecommerce has been around since the early 90s? That’s right.
                                    </li>
                                    <li>
                                        Can you believe ecommerce has been around since the early 90s? That’s right.
                                    </li>
                                    <li>
                                        Can you believe ecommerce has been around since the early 90s? That’s right.
                                    </li>
                                    <li>
                                        Can you believe ecommerce has been around since the early 90s? That’s right.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gray pt-60 pb-60 mb-100 mbm-80">
        <div class="container container--field">
            <h2 class="title mb-30 mbm-20">Читать далее</h2>
            <div class="slider" data-slider="blog">
                <div class="swiper" data-slide>
                    <div class="swiper-wrapper slider__wrapper">
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                                    <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                        особенности
                                        нанесения и свойства</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Тренды 2023 в интерьере</h3>
                                    <p class="article-news__text">Расскажем о трендах в новом году от красок до
                                        мебели</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Как правильно подобрать обои?</h3>
                                    <p class="article-news__text">Бывает ли идеальный ковер, миф или реальность</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                                    <p class="article-news__text">Рассказываем про особенности нанесения и свойства
                                        краски</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide slider__item">
                            <a href="#" class="article-news article-news--slim">
                                <div class="article-news__header">
                                    <img class="article-news__img" src="https://via.placeholder.com/270/92c952"
                                         alt="">
                                    <time class="article-news__date" datetime="21.06.2022">21.06.22</time>
                                </div>
                                <div class="article-news__body">
                                    <h3 class="article-news__title">Краска Hygge. Почему мы выбираем именно ее?</h3>
                                    <p class="article-news__text">Рассказываем про интерьерную краску Hygge,
                                        особенности
                                        нанесения и свойства</p>
                                    <span class="link-more">Читать далее</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="slider__nav" data-nav>
                    <div class="slider__button slider__button--prev" data-button-prev>
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-scroll-arrow"></use>
                        </svg>
                    </div>
                    <div class="slider__button slider__button--next" data-button-next>
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-scroll-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>