<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--search mbm-20">
        <div class="container">
            <div class="search-box" data-search-box>
                <div class="search" data-search>
                    <svg class="search__icon" data-icon>
                        <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                    </svg>
                    <input class="search__input" type="text" placeholder="Поиск по бренду" data-search="input">
                </div>
            </div>
        </div>
    </section>
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section">
        <div class="container">
            <h2 class="title mb-30 mbm-20">Бренды</h2>
        </div>
    </section>
    <section class="section mb-100 mbm-60">
        <div class="container">
            <div class="columns">
                <div class="columns__col columns__col--3">
                    <aside class="products__filter filter">
                        <h3 class="filter__title">Фильтр</h3>
                        <form action="#" class="form-filter" data-form-filter>
                            <fieldset class="form-filter__wrapper" data-filter-item>
                                <h4 class="form-filter__title" data-filter-title>Бренды и коллекции</h4>
                                <div class="form-filter__body">
                                    <div class="search-box" data-search-box>
                                        <div class="search" data-search>
                                            <svg class="search__icon" data-icon>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                                            </svg>
                                            <input class="search__input" type="text" placeholder="Поиск по бренду"
                                                   data-search="input">
                                        </div>
                                    </div>
                                    <div class="form-filter__list">
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="evroplast">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Европласт
                                            <span class="filter-checkbox__count">299</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="bauhaus">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Bauhaus
                                            <span class="filter-checkbox__count">80</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="finch">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Finch
                                            <span class="filter-checkbox__count">97</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="finch">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Finch
                                            <span class="filter-checkbox__count">16</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="goldshell">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Goldshell
                                            <span class="filter-checkbox__count">56</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="Mallers">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Mallers
                                            <span class="filter-checkbox__count">11</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="sherwin-williams">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Sherwin-williams
                                            <span class="filter-checkbox__count">78</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="veiler">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Veiler
                                            <span class="filter-checkbox__count">169</span>
                                        </span>
                                        </label>
                                    </div>
                                    <button class="link-more link-more--filter">Смотреть все</button>
                                </div>
                            </fieldset>
                            <fieldset class="form-filter__wrapper" data-filter-item>
                                <h4 class="form-filter__title" data-filter-title>Страна бренда</h4>
                                <div class="form-filter__body">
                                    <div class="search" data-search>
                                        <svg class="search__icon" data-icon>
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-search"></use>
                                        </svg>
                                        <input class="search__input" type="text" placeholder="Поиск по бренду"
                                               data-search="input">
                                    </div>
                                    <div class="form-filter__list">
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="austria">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Австрия
                                            <span class="filter-checkbox__count">299</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="belarus">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Беларусь
                                            <span class="filter-checkbox__count">80</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="belgium">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Бельгия
                                            <span class="filter-checkbox__count">97</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="bulgaria">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Болгария
                                            <span class="filter-checkbox__count">16</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="goldshell">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Goldshell
                                            <span class="filter-checkbox__count">56</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="britain">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Великобритания
                                            <span class="filter-checkbox__count">11</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="hungary">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Венгрия
                                            <span class="filter-checkbox__count">78</span>
                                        </span>
                                        </label>
                                        <label class="filter-checkbox">
                                            <input class=" hidden" type="checkbox" name="brand" value="germany">
                                            <span class="checkbox checkbox--big">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                            <span class="filter-checkbox__info">
                                            Германия
                                            <span class="filter-checkbox__count">169</span>
                                        </span>
                                        </label>
                                    </div>
                                    <button class="link-more link-more--filter">Смотреть все</button>
                                </div>
                            </fieldset>
                            <div class="form-filter__controls">
                                <button class="form-filter__button button" type="reset" data-button-reset>Очистить</button>
                                <button class="form-filter__button button button--field" disabled type="submit"
                                        data-button-search>Искать
                                </button>
                            </div>
                        </form>
                    </aside>
                </div>
                <div class="columns__col columns__col--9">
                    <div class="products__wrapper">
                        <div class="products__menu-mobile">
                            <button class="button button--primary button--mobile" data-menu-open>Фильтр</button>
                            <select class="select select--primary select--mobile" data-select>
                                <option class="select__item" value="recommend" selected>А - Я</option>
                                <option class="select__item" value="low">Цена по убыванию</option>
                                <option class="select__item" value="height">Цена по возрастанию</option>
                            </select>
                        </div>
                        <div class="grid-product mb-40">
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                            <div class="grid-product__item">
                                <article class="article-brand">
                                    <a href="./catalog.html" class="article-brand__picture">
                                        <img src="https://via.placeholder.com/600/92c95" alt="">
                                    </a>
                                    <p class="article-brand__country">Россия</p>
                                    <h4 class="article-brand__brand">Европласт</h4>
                                </article>
                            </div>
                        </div>
                        <%= htmlWebpackPlugin.options.pagination %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<div class="menu-filter" data-menu-filter>
    <header class="menu-filter__header">
        <h2 class="title title--menu">Фильтр</h2>
        <div class="close" data-menu-exit>
            <svg class="menu-filter__icon menu-filter__icon--close">
                <use xlink:href="./assets/sprite/sprite.svg#icon-close"></use>
            </svg>
        </div>
    </header>
    <div class="menu-filter__content">
        <form class="form-filter">
            <div class="menu-item" data-menu-item>
                <h3 class="menu-item__title">Бренды и коллекции</h3>
                <svg class="menu-item__icon menu-item__icon--arrow">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                </svg>
                <div class="menu-item__inner" data-menu-inner>
                    <button class="button button--back" data-menu-back>
                        <svg class="menu-item__icon menu-item__icon--arrow menu-item__icon--arrow--back">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                        </svg>
                        Назад
                    </button>
                    <h3 class="menu-item__title">Бренды и коллекции</h3>
                    <div class="menu-item__list">
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="evroplast">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Европласт
                                <span class="filter-checkbox__count">299</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="bauhaus">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Bauhaus
                                <span class="filter-checkbox__count">80</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="finch">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Finch
                                <span class="filter-checkbox__count">97</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="finch">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Finch
                                <span class="filter-checkbox__count">16</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="goldshell">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Goldshell
                                <span class="filter-checkbox__count">56</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="Mallers">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Mallers
                                <span class="filter-checkbox__count">11</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="sherwin-williams">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Sherwin-williams
                                <span class="filter-checkbox__count">78</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="veiler">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Veiler
                                <span class="filter-checkbox__count">169</span>
                            </span>
                        </label>
                        <a href="#" class="link-more link-more--filter">Поиск по брендам</a>
                    </div>
                    <button class="button button--normal button--field">Применить</button>
                </div>
            </div>
            <div class="menu-item" data-menu-item>
                <h3 class="menu-item__title">Страна бренда</h3>
                <svg class="menu-item__icon menu-item__icon--arrow">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                </svg>
                <div class="menu-item__inner" data-menu-inner>
                    <button class="button button--back" data-menu-back>
                        <svg class="menu-item__icon menu-item__icon--arrow menu-item__icon--arrow--back">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                        </svg>
                        Назад
                    </button>
                    <h3 class="menu-item__title">Страна бренда</h3>
                    <div class="menu-item__list">
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="evroplast">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Европласт
                                <span class="filter-checkbox__count">299</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="bauhaus">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Bauhaus
                                <span class="filter-checkbox__count">80</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="finch">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Finch
                                <span class="filter-checkbox__count">97</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="finch">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Finch
                                <span class="filter-checkbox__count">16</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="goldshell">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Goldshell
                                <span class="filter-checkbox__count">56</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="Mallers">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Mallers
                                <span class="filter-checkbox__count">11</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="sherwin-williams">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Sherwin-williams
                                <span class="filter-checkbox__count">78</span>
                            </span>
                        </label>
                        <label class="filter-checkbox">
                            <input class=" hidden" type="checkbox" name="brand" value="veiler">
                            <span class="checkbox checkbox--big">
                                <svg>
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                </svg>
                            </span>
                            <span class="filter-checkbox__info">
                                Veiler
                                <span class="filter-checkbox__count">169</span>
                            </span>
                        </label>
                        <a href="#" class="link-more link-more--filter">Поиск по брендам</a>
                    </div>
                    <button class="button button--normal button--field">Применить</button>
                </div>
            </div>
        </form>
    </div>
</div>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>