<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section mb-100 mbm-40">
        <div class="container">
            <div class="lk">
                <div class="title mb-30 mbm-20 title--lk">Завершённые заказы</div>
                <div class="lk__wrapper">
                    <div class="lk-sidebar">
                        <nav class="lk-nav">
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-basket"></use>
                                </svg>
                                Корзина
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                </svg>
                                Мои проекты
                            </a>
                            <a href="#" class="lk-nav__item lk-nav__item--active">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-orders"></use>
                                </svg>
                                Мои заказы
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-user"></use>
                                </svg>
                                Личные данные
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-discount"></use>
                                </svg>
                                Бонусная программа
                            </a>
                        </nav>
                    </div>
                    <div class="lk-content">
                        <h3 class="lk-title mb-30 mbm-20">У вас еще не было заказов</h3>
                        <a href="#" class="button button--field">Перейти в каталог</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>