<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section mb-100 mbm-40">
        <div class="container">
            <div class="lk">
                <div class="title mb-30 mbm-20">Мои проекты</div>
                <div class="lk__wrapper">
                    <div class="lk-sidebar">
                        <nav class="lk-nav">
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-basket"></use>
                                </svg>
                                Корзина
                            </a>
                            <a href="#" class="lk-nav__item lk-nav__item--active">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                </svg>
                                Мои проекты
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-orders"></use>
                                </svg>
                                Мои заказы
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-user"></use>
                                </svg>
                                Личные данные
                            </a>
                            <a href="#" class="lk-nav__item">
                                <svg class="lk-icon">
                                    <use xlink:href="./assets/sprite/sprite.svg#icon-discount"></use>
                                </svg>
                                Бонусная программа
                            </a>
                        </nav>
                    </div>
                    <div class="lk-content">
                        <a href="#" class="link-back mb-30">
                            <svg class="link-back__icon">
                                <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                            </svg>
                            Назад
                        </a>
                        <h2 class="lk-title mb-30 mbm-20">Архив</h2>
                        <div class="lk-content__wrapper lk-content__wrapper--grid">
                            <div class="lk-grid lk-grid--2 mb-40">
                                <div class="lk-grid__item">
                                    <article class="article-project">
                                        <div class="article-project__picture">
                                            <img src="./assets/images/logo-empty.png" alt="Фото каталога 'Краски'">
                                            <button class="article-project__edit edit-button">
                                                <svg class="edit-button__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-pen"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="article-project__footer">
                                            <div class="article-project__info">
                                                <p class="article-project__text">3 комнаты</p>
                                                <h3 class="article-project__title">Квартира ЖК «Тургенев»</h3>
                                            </div>
                                            <button class="button button--basket">
                                                <svg class="button__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-trash-recovery"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </article>
                                </div>
                                <div class="lk-grid__item">
                                    <article class="article-project">
                                        <div class="article-project__picture">
                                            <img src="https://via.placeholder.com/600/92c66"
                                                 alt="Фото каталога 'Краски'">
                                            <button class="article-project__edit edit-button">
                                                <svg class="edit-button__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-pen"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="article-project__footer">
                                            <div class="article-project__info">
                                                <p class="article-project__text">3 комнаты</p>
                                                <h3 class="article-project__title">Квартира ЖК «Тургенев»</h3>
                                            </div>
                                            <button class="button button--basket">
                                                <svg class="button__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-trash-recovery"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </article>
                                </div>
                                <div class="lk-grid__item">
                                    <article class="article-project">
                                        <div class="article-project__picture">
                                            <img src="https://via.placeholder.com/600/92c66"
                                                 alt="Фото каталога 'Краски'">
                                            <button class="article-project__edit edit-button">
                                                <svg class="edit-button__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-pen"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="article-project__footer">
                                            <div class="article-project__info">
                                                <p class="article-project__text">3 комнаты</p>
                                                <h3 class="article-project__title">Квартира ЖК «Тургенев»</h3>
                                            </div>
                                            <button class="button button--basket">
                                                <svg class="button__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-trash-recovery"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </article>
                                </div>
                                <div class="lk-grid__item">
                                    <article class="article-project">
                                        <div class="article-project__picture">
                                            <img src="https://via.placeholder.com/600/92c66"
                                                 alt="Фото каталога 'Краски'">
                                            <button class="article-project__edit edit-button">
                                                <svg class="edit-button__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-pen"></use>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="article-project__footer">
                                            <div class="article-project__info">
                                                <p class="article-project__text">3 комнаты</p>
                                                <h3 class="article-project__title">Квартира ЖК «Тургенев»</h3>
                                            </div>
                                            <button class="button button--basket">
                                                <svg class="button__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-trash-recovery"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>