<!DOCTYPE html>
<html lang="ru">

<head>
	<%= htmlWebpackPlugin.options.head %>
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
	<%= htmlWebpackPlugin.options.breadcrumbs %>
	<section class="section mb-100 mbm-40">
		<div class="container">
			<div class="offer">
				<div class="columns">
					<div class="columns__col columns__col--9">
						<div class="offer-header">
							<h3 class="offer-header__title">Договор оферты для физических лиц</h3>
						</div>
						<div class="text">
							<ol>
								<li>
									ОПРЕДЕЛЕНИЯ
									<p>
										Интернет-магазин — сайт Продавца, через который осуществляется дистанционная
										торговля Товарами, имеющий в сети Интернет адрес – www.divan.ru. На указанном
										сайте представлены товары, предлагаемые Продавцом Покупателям к продаже,
										описание каждой позиции с указанием информации, подлежащей предоставлению в
										соответствии с действующим законодательством Российской Федерации, а также иные
										условия приобретения товара.
									</p>
									<p>
										Шоу-рум — демонстрационный зал в торговом центре, где представлены каталоги и
										образцы товара Продавца.
									</p>
									<p>
										Продавец — Общество с ограниченной ответственностью «ДИВАН ТРЕЙД», ИНН
										7726457128, ОГРН 1197746537185, Юридический и почтовый адрес: 129110, г. Москва,
										вн. тер. г. муниципальный округ Мещанский, ул. Большая Переяславская, д.10, этаж
										1, помещ. V, ком.13
									</p>
									<p>
										Покупатель — любое физическое лицо, выразившее намерение приобрести Товар
										исключительно для использования в личных, семейных, домашних и иных целях, не
										связанных с осуществлением предпринимательской деятельности, на условиях,
										предусмотренных настоящим Договором.
									</p>
									<p>
										Оферта — публичное предложение Продавца, адресованное физическому лицу,
										приобретающему Товар исключительно для использования в личных, семейных,
										домашних и иных целях, не связанных с осуществлением предпринимательской
										деятельности, заключить с ним договор купли-продажи (далее — "Договор") на
										условиях, содержащихся в настоящем Договоре.
									</p>
									<p>
										Акцепт — полное и безоговорочное принятие Покупателем условий оферты посредством
										оформления заказа на сайте или по телефону интернет-магазина.
									</p>
									<p>
										Товар — любая позиция товара, представленного к продаже в Интернет-магазине.
										Информация о Товаре, включая цвета, размеры и формы, о наличии товара и сроках
										поставки, представленная на Сайте, носит справочный характер и подлежит
										уточнению Продавцом при подтверждении Заказа. В случае возникновения у
										Покупателя вопросов, касающихся свойств и характеристик товара, перед
										оформлением Заказа Покупатель должен обратиться к Продавцу по телефону,
										указанному на сайте.
									</p>
									<p>
										Выставочный образец — единица товара, выставленная для демонстрации в шоу-руме
										для ознакомления Покупателя с товаром Продавца.
									</p>
									<p>
										Заказ — оформленный запрос с указанием корректных сведений о Покупателе, а также
										с указанием выбранных позиций товара, сделанный через сайт или по телефону
										Интернет-магазина, а также в шоу-руме Продавца.
									</p>
									<p>
										Подтвержденный Заказ — Заказ, по которому между Продавцом и Покупателем
										достигнуто соглашение по наименованию, количеству, стоимости товаров и срокам их
										передачи, подтвержденный сотрудником Продавца. Условия подтвержденного заказа
										действуют в течение 3 банковских дней с момента его подтверждения.Действие
										настоящего Договора распространяется на каждый Товар, поименованный в
										Подтвержденном Заказе.Услуги замерщика в рамках настоящего договора не
										предоставляются.Товар, указанный в подтвержденном Заказе отдельными позициями, в
										любом случае не является комплектом.
									</p>
									<p>
										Момент передачи товара Покупателю — подписание Покупателем товарного чека или
										иного документа, содержащего информацию о заказе при самовывозе товара либо
										передача товара первой транспортной компании для доставки Покупателю.
									</p>
									<p>
										Доставка Товара — процесс передачи Товара от Продавца Покупателю на условиях,
										предусмотренных настоящим Договором.
									</p>
								</li>
								<li>
									ПРЕДМЕТ ДОГОВОРА И ПОРЯДОК ОФОРМЛЕНИЯ ЗАКАЗА
									<ol>
										<li>
											В соответствии с настоящим договором Продавец обязуется передать Покупателю,
											а Покупатель обязуется оплатить и принять Товар.
										</li>
										<li>
											Обязательство Продавца по передаче Товара возникает с момента полной оплаты
											товара.
										</li>
										<li>
											Право собственности на Товар, а также риск случайной гибели или случайного
											повреждения Товара переходит к Покупателю с момента передачи Товара.
										</li>
										<li>
											Товар считается принятым Покупателем, а обязательства Продавца по передаче
											товара выполненными в момент передачи Товара Покупателю и подписания
											Покупателем товарного чека либо передачи Товара транспортной компании, что
											подтверждается транспортной накладной или экспедиторской распиской.
										</li>
										<li>
											Покупатель может оформить Заказ самостоятельно на сайте интернет-магазина,
											либо через менеджера по телефонам, указанным на сайте, либо в шоу-руме
											Продавца, на условиях настоящего Договора.
										</li>
										<li>
											Покупатель для подтверждения Заказа обязан предоставить о себе следующую
											информацию: фамилия, имя, отчество, мобильный телефон, электронная почта,
											адрес доставки. Продавец не редактирует информацию о Покупателе.
										</li>
										<li>
											Оформляя Заказ, Покупатель дает согласие на получение на номер телефона,
											указанный им при оформлении покупки, SMS-сообщений, информирующих Покупателя
											о ходе исполнения Заказа.
										</li>
										<li>
											Оформляя Заказ, Покупатель выражает свое полное согласие с характеристиками
											Товара, в том числе, с размерами, тонировкой, материалами.
										</li>
										<li>
											Продавец подтверждает Покупателю получение Заказа посредством звонка или
											направления сообщения на указанный при оформлении Заказа адрес электронной
											почты и (или) номер телефона Покупателя, согласовывает с Покупателем наличие
											товара по Заказу, сроки и способы оплаты заказа, сроки исполнения Заказа,
											условия передачи товара. После согласования указанных условий Заказ
											считается Подтвержденным.
										</li>
										<li>
											В случае отсутствия заказанного Товара или его части на складе Продавца,
											Продавец информирует об этом Покупателя по указанному номеру телефона и/или
											адресу электронной почты. Покупатель вправе согласиться принять Товар в
											количестве, имеющемся в наличии у Продавца, либо аннулировать данную позицию
											товара из Заказа. В случае неполучения ответа Покупателя в течение 3 (трёх)
											календарных дней с момента уведомления, Продавец вправе аннулировать Заказ в
											полном объеме, уведомив об этом Покупателя по адресу электронной почты.
										</li>
										<li>
											Продавец вправе аннулировать Заказ если:
											<ul>
												<li>
													Покупатель не отвечает на звонки и сообщения по электронной почте в
													течение 3 (трех) календарных дней;
												</li>
												<li>
													Покупатель не забирает товар более 10 (десяти) календарных дней с
													момента уведомления о готовности к отгрузке при самовывозе;
												</li>
												<li>
													в иных случаях расторжения договора, установленных действующим
													законодательством РФ.
												</li>
											</ul>
										</li>
									</ol>
								</li>
								<li>
									ЦЕНА И ПОРЯДОК РАСЧЕТОВ
									<ol>
										<li>
											Цена и стоимость Товара указываются в подтвержденных Заказах и
											товаросопроводительных документах. Цена Товара не включает в себя стоимость
											доставки, сборки и иные услуги Продавца.
										</li>
										<li>
											Указанная на сайте цена товара может быть изменена Продавцом в одностороннем
											порядке, при этом цена на подтвержденный Заказ изменению не подлежит.
										</li>
										<li>
											Оплата Товара производится способами и в порядке, указанными на сайте
											Продавца.
										</li>
										<li>
											Расчеты сторон при оплате заказа осуществляются в российских рублях.
										</li>
										<li>
											Расходы по доставке Товара оплачивает Покупатель.
										</li>
										<li>
											Подъем и сборка Товара являются дополнительными, отдельно оплачиваемыми
											Покупателем услугами. Их стоимость, а также стоимость других возможных услуг
											указаны на сайте Продавца.
										</li>
										<li>
											Наличие и условия программ лояльности, действующих у Продавца в период
											приобретения Товара, Покупатель уточняет самостоятельно у менеджеров
											Продавца по телефонам, указанным на сайте. Программы лояльности
											распространяются только на Товар, сопутствующие услуги под действие данных
											программ не подпадают. Условия программ лояльности могут быть изменены
											Продавцом в одностороннем порядке.
										</li>
										<li>
											В случае аннулирования Заказа, возврата товара надлежащего качества,
											удовлетворения требований Покупателя о расторжении договора, предоплата за
											Товар возвращается на банковский счет Покупателя на основании письменного
											заявления последнего о возврате денежных средств, направленного на
											электронный адрес Продавца ok@divan.ru. Возврат осуществляется путем
											перечисления денежных средств на банковский счет Покупателя, указанный в
											заявлении на возврат, в течение 10 (десяти) дней со дня поступления
											заявления.
										</li>
									</ol>
								</li>
								<li>
									СРОК И ПОРЯДОК ПЕРЕДАЧИ ТОВАРОВ
									<ol>
										<li>
											Товар предоставляется в собранном/разобранном виде (по согласованию с
											Покупателем).
										</li>
										<li>
											Товар передается Покупателю только после его полной оплаты.
										</li>
										<li>
											Товар передается Покупателю следующими способами
											<ul>
												<li>
													самовывоз со склада Продавца;
												</li>
												<li>
													доставка транспортной компанией по адресу, указанному Покупателем им
													при оформлении Заказа.
												</li>
											</ul>
										</li>
										<li>
											Сроки передачи Покупателю Товара определяются, исходя из наличия Товара на
											складе Продавца, адреса и региона доставки, работы конкретной службы
											доставки, и напрямую не зависят от Продавца. Общий срок передачи Товара – не
											более 70 (семидесяти) календарных дней с момента подтверждения Заказа
											Продавцом.
										</li>
										<li>
											Срок исполнения заказа может быть приостановлен на срок неисполнения условий
											договора Покупателем.
										</li>
										<li>
											В случае самовывоза Покупатель обязуется принять оплаченный Товар не позднее
											3-х (трех) рабочих дней с момента получения уведомления от Продавца.
										</li>
										<li>
											Время доставки товара транспортной компанией предварительно согласовывается
											сторонами по телефону и /или электронной почте.
										</li>
										<li>
											Доставленный Товар передается Покупателю по указанному им в Заявке адресу, а
											при отсутствии Покупателя – любому лицу, предъявившему информацию о номере
											Заказа, либо иное подтверждение оформленного Заказа, а также предоставившему
											доказательства оплаты Заказа.
										</li>
										<li>
											Если доставка Товара произведена в согласованное сторонами время, но товар
											не был передан Покупателю по его вине, последующая доставка производится в
											новые сроки, согласованные с Продавцом. В указанном случае Продавец не
											считается допустившим просрочку передачи Товара. Каждая новая доставка
											оплачивается Покупателем дополнительно.
										</li>
										<li>
											Продавец не несёт ответственности за невыполнение обязательств по договору в
											случае задержки, приостановления исполнения Заказа, явившихся следствием
											действия/бездействия Покупателя и/или вследствие неисполнения последним
											своих обязательств по настоящему договору.
										</li>
										<li>
											Срок передачи товара продлевается на период приостановления исполнения
											Заказа.
										</li>
									</ol>
								</li>
								<li>
									ПОРЯДОК ПРИЕМКИ ТОВАРА
									<ol>
										<li>
											При приемке Товара Покупатель обязан проверить Товар на его соответствие
											сведениям, указанным в сопроводительных документах по наименованию,
											количеству, ассортименту, комплектности, по внешнему виду упаковки и товара
											(общая целостность Товара, наличие трещин, сколов, потертостей, пятен,
											разводов, а также иных недостатков, которые могут быть обнаружены при
											внешнем осмотре), на его соответствие образцу/описанию Товара и данным,
											указанным в Заказе. Принимая Товар Покупатель подтверждает его соответствие
											описанию Товара, размещенному на сайте Продавца.
										</li>
										<li>
											При обнаружении Товара, не соответствующего по количеству, ассортименту,
											качеству, указанным в товаросопроводительных документах, Покупатель обязан
											потребовать составления коммерческого акта с представителем Продавца либо
											транспортной компании, осуществившей доставку Товара, и зафиксировать
											недостатки на фото и/или видео.
										</li>
										<li>
											Стороны соглашаются, что претензии по количеству, комплектности, качеству по
											внешним, визуальным дефектам, направленные Покупателем Продавцу после
											приемки Товара, Продавцом не рассматриваются.
										</li>
										<li>
											Покупатель несет все риски, связанные с получением товара третьим лицом, а
											также надлежащей приемкой товара по количеству, комплектности, ассортименту
											и качеству.
										</li>
										<li>
											При обнаружении недостатков, носящих производственный характер, которые не
											могли быть обнаружены при визуальном осмотре по внешнему виду, Покупатель
											вправе предъявить претензии Продавцу в течение гарантийного срока.
											Покупатель обязан вызвать Продавца на осмотр товара.
										</li>
										<li>
											В случае, если представитель Продавца не прибыл в течение 48 часов с момента
											получения вызова, Покупатель вправе составить акт в одностороннем порядке.
											Недостатки должны быть зафиксированы на фото и видеосъемку (с обязательной
											фиксацией даты и времени) и с подробным описанием.
										</li>
										<li>
											В случае удовлетворения претензии об устранении недостатков, срок устранения
											недостатков составляет до 45 (сорока пяти) календарных дней, не считая дня
											обращения Покупателя.
										</li>
										<li>
											В случае возникновения вопросов со стороны Покупателя, он должен обратиться
											в отдел качества по телефонам, указанным на сайте www.divan.ru или по
											электронной почте: ok@divan.ru.
										</li>
										<li>
											При обращении в отдел качества Покупатель обязан сообщить номер или иной
											способ идентификации заказа.
										</li>
									</ol>
								</li>
								<li>
									ВОЗВРАТ ТОВАРА
									<ol>
										<li>
											Покупатель вправе отказаться от Товара в любое время до его передачи, а
											после передачи – в течение 7 (семи) дней. В указанном случае Продавец
											возвращает Покупателю сумму, уплаченную в соответствии с договором, за
											исключением расходов Продавца на доставку от Покупателя возвращенного Товара
											(разборка, спуск и вывоз).
										</li>
										<li>
											Возврат товара надлежащего качества возможен в случае, если сохранены его
											товарный вид, потребительские свойства, а также документ, подтверждающий
											факт и условия покупки указанного товара.
										</li>
										<li>
											Покупатель не вправе отказаться от товара надлежащего качества, имеющего
											индивидуально-определенные свойства, если указанный товар может быть
											использован исключительно приобретающим его Покупателем.
										</li>
										<li>
											Товар, бывший в употреблении, возврату и обмену не подлежит. Уцененный
											товар, имеющий недостатки, обмену не подлежит.
										</li>
										<li>
											При покупке двух сопутствующих товаров (например, диван и кресло), товары
											продаются как единый мебельный гарнитур и не подлежат возврату или обмену в
											соответствии с Постановлением Правительства РФ от 31.12.2020 N 2463 "Об
											утверждении Правил продажи товаров по договору розничной купли-продажи,
											перечня товаров длительного пользования, на которые не распространяется
											требование потребителя о безвозмездном предоставлении ему товара,
											обладающего этими же основными потребительскими свойствами, на период
											ремонта или замены такого товара, и перечня непродовольственных товаров
											надлежащего качества, не подлежащих обмену, а также о внесении изменений в
											некоторые акты Правительства Российской Федерации".
										</li>
										<li>
											Возврат товара производится на склад Продавца по адресам, указанным на сайте
											Продавца, адрес уточняется у менеджера Продавца по телефону, указанному на
											сайте.
										</li>
										<li>
											Покупатель обязан возвратить Товар ненадлежащего качества, предварительно
											согласовав с Продавцом дату и время вывоза Товара.
										</li>
									</ol>
								</li>
								<li>
									ГАРАНТИЯ КАЧЕСТВА
									<ol>
										<li>
											Гарантийный срок на мебель равен сроку гарантии, предоставленному
											производителем товаров.
										</li>
										<li>
											Гарантийный срок на Товар бывший в употреблении (в том числе выставочный
											образец) составляет 6 (шесть) календарных месяцев.
										</li>
										<li>
											Гарантийный срок исчисляется с момента передачи Товара Покупателю или
											транспортной компании.
										</li>
										<li>
											Гарантия не распространяется на недостатки Товара в случаях:
											<ul>
												<li>
													истечения гарантийного срока;
												</li>
												<li>
													если они были оговорены Продавцом при продаже Товара;
												</li>
												<li>
													если они явились следствием неверной сборки Покупателем или третьими
													лицами;
												</li>
												<li>
													при повреждениях, полученных в результате ненадлежащего хранения
													Товара, умышленных или неосторожных действий Покупателя и/или
													третьих лиц;
												</li>
												<li>
													нарушении Покупателем или третьими лицами правил эксплуатации и
													ухода за мебелью;
												</li>
												<li>
													наличия на изделии механических повреждений и дефектов, выявленных
													Покупателем после осуществления приемки-передачи, постороннего
													вмешательства в изделие, возникающих в результате неправильной
													эксплуатации;
												</li>
												<li>
													нанесения ущерба изделию в результате умышленных и/ или неосторожных
													действий Покупателя;
												</li>
												<li>
													нанесения ущерба изделию, вызванного воздействием химикатов,
													растворителей и иных едких веществ, и жидкостей, а также попаданием
													внутрь изделия посторонних предметов, животных, насекомых и т.д.;
												</li>
												<li>
													нанесения изделию ущерба в результате внесения изменений в его
													конструкцию;
												</li>
												<li>
													использования изделий не по назначению, в том числе в
													производственных целях;
												</li>
												<li>
													естественного износа и загрязнения изделия, возникшего в процессе
													эксплуатации, обнаружения следов хранения внутри изделия мокрых и
													влажных вещей, а также расслоения, растрескивания и разбухания
													элементов вследствие прямого попадания на них воды;
												</li>
												<li>
													появления дефекта в результате несвоевременного самостоятельного
													обслуживания резьбовых соединений;
												</li>
												<li>
													нарушения иных условий, указанных в Правилах и условиях эффективного
													безопасного использования мебели (ГОСТ Р 16371-2014, ГОСТ Р
													19917-2014).
												</li>
											</ul>
										</li>
										<li>
											Гарантия не распространяется на повреждения, полученные в ходе
											самостоятельной доставки и подъема товара Покупателем.
										</li>
										<li>
											Претензии Покупателя не подлежат удовлетворению в следующих случаях:
											<ol>
												<li>
													При несоблюдении требований «Инструкции по уходу за мебелью».
												</li>
												<li>
													В случае самостоятельной сборки изделия Покупателем или третьими
													лицами, в результате которого:
													<ul>
														<li>
															возникли перекосы в изделии, ухудшающие внешний вид мебели;
														</li>
														<li>
															произошла неправильная работа механизма (трансформации)
															движения и раскладывания мебели;
														</li>
														<li>
															произошло нарушение геометрии изделия, вследствие чего
															отдельные части изделия вышли/могут выйти из строя;
														</li>
														<li>
															изделие полностью или в отдельной его части вышло из строя и
															не может нормально эксплуатироваться либо имеет не товарный
															вид.
														</li>
													</ul>
												</li>
												<li>
													При переносе (перестановке) собранной мебели Покупателем, в
													результате чего возникло отсоединение (отслоение) декоративных
													элементов и накладок, а также разрыв обивочного материала. Ремонт
													такого изделия производится за счет Покупателя.
												</li>
												<li>
													Покупатель уведомлен и согласен с тем, что не относятся к
													недостаткам Товаров:
													<ul>
														<li>
															наличие у нового изделия запаха производственного характера
															(лак, краска и прочее);
														</li>
														<li>
															невидимые стороны изделия не подлежат покрытию лаком, обивке
															основной (лицевой) тканью, на них могут быть видны элементы
															крепежа: саморезы, болты, гайки, мебельные скобы для
															крепления ткани. Детали каркаса изделия (фанера, ДСП, ДВП,
															ЛДСП, МДФ) и другие используемые в производстве материалы
															могут содержать следы разметки, маркировки и механические
															царапины. Наружные стороны боковин изделий, выполненных из
															МДФ, облицовываются шпоном и покрываются лаком. Внутренние
															стороны боковин не подлежат облицовке шпоном. Наружные
															«невидимые» стороны столов (нижняя сторона крышки,
															внутренняя сторона царг) отделке не подлежат. Не подлежат
															отделке наружные «невидимые» стороны диванов и угловых
															диванов. Наружные невидимые стороны изделия могут содержать
															следы разметки, маркировки и механические царапины
															(технологические повреждения). Внутренние части изделия и
															наружные «невидимые» стороны, отделанные тканью, содержат
															внутренние швы, нитки, а кромка ткани не подвергается
															обработке оверлоком;
														</li>
														<li>
															наличие в элементах особенностей, обусловленных
															стилистической идеей производителя, исходных материалов или
															природным происхождением исходных материалов, в частности:
															несущественных отличий фактуры и/или оттенков массива
															дерева, натурального шпона, натурального камня и т.п.;
														</li>
														<li>
															наличие на деревянных и/или шпонированных элементах мебели
															пороков древесины на лицевых поверхностях: сучки светлые,
															темные и прочие до 15 мм; свилеватость, глазки, кармашки
															длиной не более 20 мм, шириной 1.5 мм, глубиной 3 мм;
														</li>
														<li>
															морщины на облицовочном материале мягких элементов,
															возникающие после снятия нагрузок и исчезающие после
															разглаживания (рукой);
														</li>
														<li>
															складки, сборки, утяжки на облицовочном материале,
															обусловленные художественным решением, а также, складки
															(морщины) на облицовочном материале
															(ткань/кожа/кожзаменитель), чехлах (съемных и не съемных)
															мягких элементов, подлокотниках и подушках, как имеющиеся,
															так и появляющиеся в процессе эксплуатации;
														</li>
														<li>
															отличие оттенков обивочных материалов, тона декоративных
															элементов при составлении комплекта из различных моделей,
															при использовании ворсовой, неоднотипной обивочной ткани
															(кожа/кожзаменитель);
														</li>
														<li>
															отклонение оттенка цвета любого комплектующего товара от его
															образца;
														</li>
														<li>
															мелкие трещины («эффект растрескивания»), потертости
															мебельного покрытия из натуральной кожи и кожзаменителя,
															возникающие при эксплуатации мебели;
														</li>
														<li>
															естественный запах материалов (в том числе облицовочных кож
															и других), из которых изготовлен Товар;
														</li>
														<li>
															Товар, если он не проходит по габаритам в дверные проемы
															помещения Покупателя;
														</li>
														<li>
															естественные образования (в виде следов, вмятин, отметин) на
															элементах Товара, возникшие вследствие их трансформации в
															целях использования в качестве спального места;
														</li>
														<li>
															складки облицовочной кожи, возникшие в ходе эксплуатации
															товара в результате естественного и допустимого ГОСТом
															удлинения (в пределах 10%);
														</li>
														<li>
															остаточные деформации (вероятнее, в виде «волны») на
															матраце, возникающие после трансформации товара из положения
															«для сидения» в положение «для лежания», не влияющие на
															возможность его использования по назначению;
														</li>
														<li>
															угловые диваны и диваны, предназначенные для установки в
															углы и к стенам помещений, имеют тыльную (задняя), нижнюю
															(технологические) стороны изделия, которые не являются
															лицевыми. В случае установки данной мебели не в углы и не у
															стен помещений, Покупатель обязуется в письменной форме
															сообщить об этом Продавцу при оформлении заказа для того,
															чтобы последний внес изменения в технологию изготовления и
															отделки задней части изделия лицевой тканью;
														</li>
														<li>
															расхождения с изображениями Товаров на сайте Товара,
															переданного Покупателю, если эти расхождения касаются
															оттенка цвета, вариантов распила (раскроя), фактуры,
															оттенка, узора древесины/искусственного камня/кожи и прочим
															отличиям, связанным с неоднородностью натурального
															материала.
														</li>
														<li>
															Покупатель согласен с тем, что радиусные и прямые (пленочные
															и крашеные) фасады могут незначительно отличаться между
															собой по структуре, в связи с использованием при их
															изготовлении различных материалов, что не является
															недостатком.В зависимости от периода закупки оттенок ткани и
															ЛДСП может незначительно меняться, в связи с чем мебель,
															приобретенная не одновременно, может слегка отличаться по
															оттенку друг от друга, что не является недостатком
															Товара.Продавец имеет право без согласования с Покупателем
															заменить комплектующие товара на аналогичные.
														</li>
													</ul>
												</li>
											</ol>
										</li>
									</ol>
								</li>
								<li>
									ОТВЕТСТВЕННОСТЬ СТОРОН
									<ol>
										<li>
											За нарушение условий настоящего Договора стороны несут ответственность в
											порядке, установленном законодательством РФ и настоящим договором.
										</li>
										<li>
											Покупатель обязан возместить Продавцу стоимость хранения Товара на складе
											Продавца в размере 0,3 % (ноль целых три десятых процента) от стоимости
											Товара в сутки, начиная с 4 (четвертого) рабочего дня с момента получения
											уведомления о готовности Товара к отгрузке.
										</li>
										<li>
											В случае отказа от оплаты хранения при просрочке получения товара на складе
											либо отказе от согласования даты получения товара, неполучение, отсутствие в
											адресе получения Покупателя либо его представителей при доставке товара,
											Продавец вправе расторгнуть настоящий договор, возвратив стоимость товара
											Покупателю и удержав стоимость хранения товара.
										</li>
										<li>
											За просрочку возврата Товара Покупателем в случаях, когда дата и время
											такого возврата заранее согласованы с Продавцом, Продавец имеет право
											взыскать с Покупателя пени в размере 0,3% от стоимости Товара, за каждый
											день просрочки возврата.
										</li>
										<li>
											Продавец не несет ответственности за ущерб, причиненный Покупателю
											вследствие ненадлежащего использования Товаров, заказанных через
											Интернет-Магазин.
										</li>
										<li>
											Продавец не несет ответственности за информацию, размещенную Покупателем в
											интернет-магазине в общедоступной форме.
										</li>
										<li>
											Стороны освобождаются от ответственности за полное или частичное
											неисполнение своих обязательств, если такое неисполнение явилось следствием
											действия обстоятельств непреодолимой силы в результате событий чрезвычайного
											характера, которые Стороны не могли предвидеть и предотвратить разумными
											мерами.
										</li>
									</ol>
								</li>
								<li>
									РАЗРЕШЕНИЕ СПОРОВ
									<ol>
										<li>
											Все возникшие споры разрешаются через отдел качества Продавца. Все
											рекламации и претензии в адрес Продавца должны быть оформлены в виде
											отдельного письменного документа, заверенного подписью Покупателя.
											Рекламации направляются на электронный адрес Продавца ok@divan.ru.
											Досудебная претензия должна быть направлена на электронный адрес Продавца
											ok@divan.ru и дополнительно заказным письмом по юридическому адресу
											Продавца.
										</li>
										<li>
											В претензии (рекламации) Покупатель обязан указать номер Заказа (номер
											товарного чека), а также телефон (электронную почту), указанные при
											оформлении Заказа.
										</li>
										<li>
											При невозможности фактического исполнения требований Покупателя, изложенных
											в претензии/рекламации, по вине Покупателя, срок их исполнения продлевается
											на весь период пока длятся вышеуказанные обстоятельства.
										</li>
										<li>
											Днем предъявления рекламации считается день получения Продавцом электронного
											сообщения Покупателя. Днем предъявления досудебной претензии считается день
											получения Продавцом заказного письма.
										</li>
										<li>
											При невозможности урегулировать спор в претензионном порядке стороны
											передают спор на рассмотрение в суд в соответствии с действующим
											законодательством РФ.
										</li>
									</ol>
								</li>
								<li>
									КОНФИДЕНЦИАЛЬНОСТЬ И ЗАЩИТА ИНФОРМАЦИИ.
									<ol>
										<li>
											Персональные данные Покупателя обрабатываются в соответствии с ФЗ «О
											персональных данных» № 152-ФЗ от 27.07.2006г. и Политикой конфиденциальности
											Продавца.
										</li>
										<li>
											Покупатель ознакомился и согласен с Политикой конфиденциальности,
											размещенной по адресу: https://www.divan.ru/static-page/privacy-policy.
										</li>
										<li>
											Оформляя Заказ, Покупатель дает разрешение Продавцу, его уполномоченным
											представителям и его партнерам, в целях информирования о товарах и услугах
											Продавца, заключения и исполнения договора купли-продажи, обрабатывать –
											собирать, записывать, систематизировать, накапливать, хранить, уточнять
											(обновлять, изменять), извлекать, использовать, обезличивать, блокировать,
											удалять, уничтожать Персональные данные Покупателя, необходимые для
											исполнения договора.
										</li>
										<li>
											Оформляя Заказ Покупатель дает разрешение Продавцу на передачу
											(предоставление, доступ) персональных данных, указанных в заказе, третьим
											лицам, оказывающим по поручению Продавца сопутствующие услуги доставки и
											сборки товаров без установления каких-либо запретов и условий для передачи
											третьим лицам указанных в заказе персональных данных.
										</li>
										<li>
											При оформлении Заказа Покупатель предоставляет о себе следующую информацию:
											фамилия, имя, отчество, мобильный телефон, электронная почта, адрес
											доставки.
										</li>
										<li>
											Покупатель дает согласие Продавцу на отправку информационных в том числе
											рекламных сообщений, на электронную почту и/или мобильный телефон
											Покупателя. Покупатель может в любой момент отказаться от получения
											рекламной и другой информации без объяснения причин отказа путем
											информирования Продавца о своем отказе посредством направления
											соответствующего заявления на юридический адрес Продавца. Сервисные
											сообщения, информирующие Покупателя о заказе и этапах его обработки,
											отправляются автоматически и не могут быть отклонены Покупателем.
										</li>
										<li>
											Продавец вправе использовать технологию «cookies». «Cookies» не содержат
											конфиденциальную информацию. Покупатель настоящим дает согласие на сбор,
											анализ и использование cookies, в том числе третьими лицами для целей
											формирования статистики и оптимизации рекламных сообщений.
										</li>
										<li>
											Продавец вправе осуществлять записи телефонных разговоров с Покупателем. При
											этом Продавец обязуется предотвращать попытки несанкционированного доступа к
											информации, полученной в ходе телефонных переговоров, и/или передачу ее
											лицам, не имеющим непосредственного отношения к исполнению Заказов, а также
											несет иные обязанности в соответствии с п. 4 ст. 16 Федерального закона «Об
											информации, информационных технологиях и о защите информации» №149-ФЗ от
											27.07.2006г. Стороны соглашаются, что телефонные переговоры могут быть
											использованы при разрешении претензий, рекламаций, исков.
										</li>
									</ol>
								</li>
								<li>
									ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
									<ol>
										<li>
											Настоящий Договор вступает в силу в момент акцепта Покупателем и действует
											до момента передачи Товара Продавцом, а в отношении гарантийных
											обязательств- до истечения срока гарантии.
										</li>
										<li>
											Интернет магазин оставляет за собой право расширять и сокращать товарное
											предложение на сайте, регулировать доступ к покупке любых Товаров, а также
											приостанавливать или прекращать продажу любых Товаров по своему усмотрению.
										</li>
										<li>
											Информация по услугам сборки, подъёма и иным услугам указана на
											соответствующих страницах сайта.
										</li>
										<li>
											Продавец сохраняет за собой право в одностороннем порядке вносить изменения
											и дополнения в настоящий Договор. Покупатель обязуется самостоятельно
											отслеживать все изменения в Интернет-магазине.
										</li>
										<li>
											Во всем остальном, что не урегулировано настоящим договором, стороны
											руководствуются действующим законодательством Российской Федерации.
										</li>
										<li>
											Стороны признают полную юридическую силу за электронными
											образами/электронными письмами о юридически значимых событиях (уведомлений о
											готовности товара к отгрузке, о поступлении на склад и иные),
											предусмотренных и необходимых для исполнения договора, переданных
											посредством электронной почты, если эти документы читаемы и позволяют
											достоверно установить, что исходят от стороны по Договору. Стороны пришли к
											соглашению о том, что электронные образы юридически значимых
											сообщений/писем, направленных по электронной почте, могут быть использованы
											в качестве письменных доказательств в судах, иных государственных и/или
											муниципальных органах.
										</li>
										<li>
											В целях надлежащего уведомления по Договору используется адрес электронной
											почты Покупателя, указанный в Заказе.
										</li>
									</ol>
								</li>
							</ol>
						</div>
					</div>
					<div class="columns__col columns__col--3">
						<div class="offer-files">
							<a href="#" class="link-file">
								<svg class="link-file__icon">
									<use xlink:href="./assets/sprite/sprite.svg#icon-file-pdf"></use>
								</svg>
								<p class="link-file__text">
									<span class="link-file__link">Скачать</span>
								</p>
							</a>
							<a href="#" class="link-file">
								<svg class="link-file__icon">
									<use xlink:href="./assets/sprite/sprite.svg#icon-file-pdf"></use>
								</svg>
								<p class="link-file__text">
									<span class="link-file__link">Скачать</span>
								</p>
							</a>
							<a href="#" class="link-file">
								<svg class="link-file__icon">
									<use xlink:href="./assets/sprite/sprite.svg#icon-file-pdf"></use>
								</svg>
								<p class="link-file__text">
									<span class="link-file__link">Скачать</span>
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>