<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section mb-100 mbm-55">
        <div class="container">
            <article class="product-page">
                <div class="columns mb-60 mbm-40">
                    <div class="columns__col columns__col--8 mbm-20">
                        <div class="product-carousel">
                            <div id="myCarousel" class="f-carousel">
                                <div
                                        class="f-carousel__slide"
                                        data-thumb-src="https://via.placeholder.com/300/92c95"
                                        data-fancybox="gallery"
                                        data-src="https://via.placeholder.com/300/92c95">
                                    <img alt="" data-lazy-src="https://via.placeholder.com/300/92c95"/>
                                </div>
                                <div
                                        class="f-carousel__slide"
                                        data-thumb-src="https://via.placeholder.com/200/92c95"
                                        data-fancybox="gallery"
                                        data-src="https://via.placeholder.com/200/92c95">
                                    <img alt="" data-lazy-src="https://via.placeholder.com/200/92c95"/>
                                </div>
                                <div
                                        class="f-carousel__slide"
                                        data-thumb-src="https://via.placeholder.com/120x90/92c95"
                                        data-fancybox="gallery"
                                        data-src="https://via.placeholder.com/120x90/92c95">
                                    <img alt="" data-lazy-src="https://via.placeholder.com/120x90/92c95"/>
                                </div>
                                <div
                                        class="f-carousel__slide"
                                        data-thumb-src="https://via.placeholder.com/100/92c95"
                                        data-fancybox="gallery"
                                        data-src="https://via.placeholder.com/100/92c95">
                                    <img alt="" data-lazy-src="https://via.placeholder.com/100/92c95"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns__col columns__col--4">
                        <article class="product-info">
                            <p class="product-info__article">Арт. 8252791</p>
                            <h2 class="product-info__title">Краска finch для стен и потолков моющаяся 1 л. Черная</h2>
                            <p class="product-info__description">Повседневная практика показывает, что укрепление и развитие
                                структуры влечет за собой процесс внедрения и модернизации новых предложений. С другой
                                стороны
                                сложившаяся структура организации требуют от нас анализа соответствующий условий
                                активизации.</p>
                            <div class="product-info__controls">
                                <div class="price">
                                    <p class="price__text">7 000<span>₽</span></p>
                                </div>
                                <div class="product-info__counter counter" data-counter>
                                    <button class="counter__button" data-c-minus>
                                        <svg class="counter__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                        </svg>
                                    </button>
                                    <span class="counter__value" data-c-value>1</span>
                                    <button class="counter__button" data-c-plus>
                                        <svg class="counter__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                        </svg>
                                    </button>
                                </div>
                                <button class="button button--field">В корзину</button>
                                <button class="button button--orange--transparent">В проект</button>
                            </div>
                            <div class="product-info__property">
                                <ul class="product-info__list">
                                    <li class="product-info__item">
                                        <p class="product-info__text">Страна бренда:</p>
                                        <div class="dotted"></div>
                                        <p class="product-info__text">Италия</p>
                                    </li>
                                    <li class="product-info__item">
                                        <p class="product-info__text">Производитель:</p>
                                        <div class="dotted"></div>
                                        <a class="product-info__link" href="#">Ragno</a>
                                    </li>
                                    <li class="product-info__item">
                                        <p class="product-info__text">Цвет:</p>
                                        <div class="dotted"></div>
                                        <p class="product-info__text">коричневый, серый</p>
                                    </li>
                                    <li class="product-info__item">
                                        <p class="product-info__text">Назначение:</p>
                                        <div class="dotted"></div>
                                        <p class="product-info__text">для стен и пола</p>
                                    </li>
                                </ul>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="columns">
                    <div class="columns__col columns__col--8">
                        <div class="tabs tabs--products">
                            <div class="tabs__header mob-hidden">
                                <ul class="tabs-list">
                                    <li class="tabs-list__item toggle-tab" data-tab="1">
                                        <span>Описание</span>
                                    </li>
                                    <li class="tabs-list__item" data-tab="2">
                                        <span>Характеристики</span>
                                    </li>
                                    <li class="tabs-list__item" data-tab="3">
                                        <span>Доставка и возврат</span>
                                    </li>
                                    <li class="tabs-list__item">
                                        <a href="./download.html">Загрузки</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs__content">
                                <div class="tabs__wrapper">
                                    <div class="tab">
                                        <div class="tab__item desktop-hidden toggle-tab" data-tab="1">
                                            <div class="tab__header">
                                                <span>Описание</span>
                                                <svg class="tab__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="tab__body active--visible" data-content="1">
                                            <div class="product-about">
                                                <h3 class="product-about__title">Описание</h3>
                                                <p class="product-about__text">
                                                    Повседневная практика показывает, что укрепление и развитие структуры влечет
                                                    за
                                                    собой процесс внедрения и модернизации новых предложений. С другой стороны
                                                    сложившаяся структура организации требуют от нас анализа соответствующий
                                                    условий
                                                    активизации. Повседневная практика показывает, что укрепление и развитие
                                                    структуры влечет за собой процесс внедрения и модернизации новых
                                                    предложений. С
                                                    другой стороны сложившаяся структура организации требуют от нас анализа
                                                    соответствующий условий активизации.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <div class="tab__item desktop-hidden" data-tab="2">
                                            <div class="tab__header">
                                                <span>Характеристики</span>
                                                <svg class="tab__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="tab__body hide" data-content="2">
                                            <div class="product-about">
                                                <h3 class="product-about__title">Характеристики</h3>
                                                <div class="product-characteristic">
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Высота нижних шкафов:</p>
                                                        <p class="product-characteristic__value">858 мм - до верха
                                                            столешницы</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Высота верхних шкафов:</p>
                                                        <p class="product-characteristic__value">700 мм</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Глубина нижних шкафов:</p>
                                                        <p class="product-characteristic__value">500 мм корпус (по столешнице
                                                            600 мм)</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Глубина верхних шкафов:</p>
                                                        <p class="product-characteristic__value">300 мм</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Материал фасада:</p>
                                                        <p class="product-characteristic__value">МДФ пленка ПВХ</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Материал корпуса:</p>
                                                        <p class="product-characteristic__value">Серый ЛДСП</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Направляющие:</p>
                                                        <p class="product-characteristic__value">Роликовые</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Столешница:</p>
                                                        <p class="product-characteristic__value">Выбирается отдельно (в
                                                            стоимость не входит)</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Стекло:</p>
                                                        <p class="product-characteristic__value">4 мм матовое</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Фурнитура:</p>
                                                        <p class="product-characteristic__value">Петли и направляющие в
                                                            комплекте</p>
                                                    </div>
                                                    <div class="product-characteristic__item">
                                                        <p class="product-characteristic__title">Ручки:</p>
                                                        <p class="product-characteristic__value">В комплект не входят</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab">
                                        <div class="tab__item desktop-hidden" data-tab="3">
                                            <div class="tab__header">
                                                <span>Доставка</span>
                                                <svg class="tab__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-arrow-down"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <div class="tab__body hide" data-content="3">
                                            <div class="product-about">
                                                <h3 class="product-about__title">Доставка и возврат</h3>
                                                <p class="product-about__text">
                                                    Повседневная практика показывает, что укрепление и развитие структуры влечет
                                                    за
                                                    собой процесс внедрения и модернизации новых предложений. С другой стороны
                                                    сложившаяся структура организации требуют от нас анализа соответствующий
                                                    условий
                                                    активизации. Повседневная практика показывает, что укрепление и развитие
                                                    структуры влечет за собой процесс внедрения и модернизации новых
                                                    предложений. С
                                                    другой стороны сложившаяся структура организации требуют от нас анализа
                                                    соответствующий условий активизации.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <section class="section mb-100 mbm-60">
        <div class="container container--field">
            <h2 class="title mb-30 mbm-20 title--mobile">С этим товаром покупают</h2>
            <div class="slider" data-slider="textures" data-mobile>
                <div class="swiper" data-slide>
                    <div class="swiper-wrapper slider__wrapper slider__wrapper--mobile">
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95" >
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95" >
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95" >
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95" >
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95" >
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="slider__nav" data-nav>
                    <div class="slider__button slider__button--gray slider__button--prev" data-button-prev>
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-scroll-arrow"></use>
                        </svg>
                    </div>
                    <div class="slider__button slider__button--gray slider__button--next" data-button-next>
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-scroll-arrow"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-more link-more--button desktop-hidden">Смотреть все товары</a>
            </div>
        </div>
    </section>
    <section class="section mb-100 mbm-60">
        <div class="container container--field">
            <h2 class="title mb-30 mbm-20 title--mobile">Похожие товары</h2>
            <div class="slider" data-slider="textures" data-mobile>
                <div class="swiper" data-slide>
                    <div class="swiper-wrapper slider__wrapper slider__wrapper--mobile">
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95">
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95">
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95" >
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95" >
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide slider__item">
                            <article class="article-product">
                                <div class="article-product__picture article-product__picture--functional"
                                     data-fancybox="productPage" data-src="https://via.placeholder.com/600/92c95" >
                                    <img class="article-product__img article-product__img--small"
                                         src="https://via.placeholder.com/600/92c95"
                                         alt="">
                                    <a class="button button--layout"
                                       href="#">
                                        <svg class="article-product__icon">
                                            <use xlink:href="./assets/sprite/sprite.svg#icon-layout"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div class="article-product__body">
                                    <p class="article-product__article">Арт. 8252791</p>
                                    <h3 class="article-product__title">Плинтус Европласт 1.53.111, 65х20, 2 м. Плинтус
                                        Европласт</h3>
                                </div>
                                <div class="article-product__footer article-product__footer--more">
                                    <div class="article-product__box">
                                        <p class="article-product__price">3 500<span>₽</span></p>
                                    </div>
                                    <div class="article-product__counter counter counter--small" data-counter>
                                        <button class="counter__button" data-c-minus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-minus"></use>
                                            </svg>
                                        </button>
                                        <span class="counter__value" data-c-value>1</span>
                                        <button class="counter__button" data-c-plus>
                                            <svg class="counter__icon">
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="button button--field article-product__button">В корзину</button>
                                    <button class="button button--orange--transparent article-product__button article-product__button--project">
                                        В
                                        проекты
                                    </button>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="slider__nav" data-nav>
                    <div class="slider__button slider__button--gray slider__button--prev" data-button-prev>
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-scroll-arrow"></use>
                        </svg>
                    </div>
                    <div class="slider__button slider__button--gray slider__button--next" data-button-next>
                        <svg>
                            <use xlink:href="./assets/sprite/sprite.svg#icon-scroll-arrow"></use>
                        </svg>
                    </div>
                </div>
                <a href="#" class="link-more link-more--button desktop-hidden">Смотреть все товары</a>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>