<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section pb-100 pbm-40">
        <div class="container">
            <div class="columns columns--center">
                <div class="columns__col columns__col--4">
                    <h1 class="title mb-20">Доставка</h1>
                    <p class="subtitle">
                        Мы предоставляем услуги доставки по всей России, при помощи услуг транспортных компаний. Вы
                        также можете воспользоваться самовывозом со склада
                    </p>
                </div>
                <div class="columns__col columns__col--8">
                    <picture class="picture">
                        <img src="../assets/images/services-trans.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-100 ptm-40 pbm-60 pb-100 section--gray mb-100 mbm-40">
        <div class="container">
            <div class="list list--small">
                <article class="article-list">
                    <svg class="article-list__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-pin-big"></use>
                    </svg>
                    <div class="text text--primary text--margins">
                        <h3>Условия доставки г. Краснодар</h3>
                        <p>Маршрутная, плановая доставка для дилеров – <strong>вторник, среда, пятница.</strong></p>
                        <p>Компенсация доставки по городу составляет <strong>500₽.</strong></p>
                        <ul>
                            <li>
                                для округов - <strong>«Центральный», «Западный», «Карасунский»</strong> - дни
                                доставки <strong>вторник и пятница</strong>
                                на автомобиле вместимостью 20 м3 и грузоподъемностью 1500 кг (Газель).
                            </li>
                            <li>
                                для округа - <strong>«Прикубанский»</strong> - дни доставки вторник и среда: <strong>Вторник</strong>
                                на автомобиле
                                вместимостью 2 м3 и грузоподъемностью 500 кг (Ларгус); <strong>Среда</strong> на
                                автомобиле вместимостью
                                20
                                м3 и грузоподъемностью 1500 кг (Газель).
                            </li>
                        </ul>
                        <p>
                            Самовывозы производятся <strong>бесплатно со склада МАЙСКИЙ</strong> по адресу: г.
                            Краснодар, Майский
                            проезд, 18/10, с понедельника по пятницу, с 10:00 до 17:00; в субботу с 10:00 до 15:00.
                        </p>
                    </div>
                </article>
                <article class="article-list">
                    <svg class="article-list__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-pin-big"></use>
                    </svg>
                    <div class="text text--primary text--margins">
                        <h3>Условия доставки регион г. Сочи </h3>
                        <p>
                            Компенсация по доставке будет составлять <strong>800₽.</strong>
                        </p>
                        <p>
                            Доставка осуществляется каждую <strong>субботу</strong> на автомобиле вместимостью 20 м3 и
                            грузоподъемностью
                            1500 кг (Газель).
                        </p>
                        <p>
                            <strong>Самовывоз со склада СОЧИ бесплатно</strong> по адресу: г. Сочи, ул., Пластунская,
                            29.
                        </p>
                        <p>
                            При необходимости сократить сроки доставки, осуществляем бесплатную доставку до терминала
                            транспортной компанию во <strong>вторник</strong>, стоимость доставки от терминала до
                            адреса - клиент
                            оплачивает самостоятельно.
                        </p>
                        <p>
                            Для заказов от <strong>100 000₽</strong> (с учетом скидки) доставка осуществляется <strong>бесплатно</strong>.
                        </p>
                    </div>
                </article>
                <div class="article-list">
                    <svg class="article-list__icon">
                        <use xlink:href="./assets/sprite/sprite.svg#icon-pin-big"></use>
                    </svg>
                    <div class="text text--primary text--margins">
                        <h3>Условия доставки регионы Краснодарский край и г. Пятигорск </h3>
                        <p>
                            Региональная доставка - <strong>вторник и пятница.</strong>
                        </p>
                        <p>
                            Доставка силами компании «ДОМ ДЕКОРА» до склада или торговой точки составляет
                            <strong>800₽.</strong>
                        </p>
                        <p>
                            Доставка силами компании «ДОМ ДЕКОРА» до терминала транспортной компанию
                            <strong>бесплатно</strong>,
                            стоимость доставки с терминала, клиент оплачивает самостоятельно.
                        </p>
                        <p>
                            <strong>Самовывоз со склада ПЯТИГОРСК - бесплатно</strong> по адресу: г. Пятигорск, ул.
                            Ермолова, д. 22, стр.
                            1.
                        </p>
                        <p>
                            Для заказов от <strong>100 000₽</strong> (с учетом скидки) доставка осуществляется <strong>бесплатно</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--feedback mb-100 mbm-50">
        <div class="container">
            <div class="feedback">
                <div class="feedback__wrapper feedback__wrapper--text">
                    <h2 class="feedback__title">Остались вопросы?</h2>
                    <p class="feedback__text">Если вам нужна помощь – оставьте свои данные и ваш вопрос, мы свяжемся с
                        вами в ближайшее время</p>
                </div>
                <div class="feedback__wrapper">
                    <form class="feedback__form form" action="/api/forms/questionForm" data-form data-agreement>
                        <fieldset class="form__wrapper">
                            <label class="form__item" data-input-item>
                                <input
                                        class="input input--fill"
                                        type="text"
                                        name="USER_NAME"
                                        minlength="3"
                                        placeholder="Имя"
                                        required
                                        data-input="name"
                                >
                                <span class="form__warning" data-warning>
                                    <svg class="form__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-attention-fill"></use>
                                    </svg>
                                    Поле заполнено некорректно
                                </span>
                            </label>
                            <label class="form__item" data-input-item>
                                <input
                                        class="input input--fill"
                                        type="tel"
                                        name="USER_PHONE"
                                        placeholder="Телефон"
                                        pattern="[0-9]{3}[0-9]{3}[0-9]{5}"
                                        required
                                        data-input="phone"
                                >
                                <span class="form__warning">
                                    <svg class="form__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-attention-fill"></use>
                                    </svg>
                                    Поле заполнено некорректно
                                </span>
                            </label>
                        </fieldset>
                        <label class="form__item" data-input-item>
                            <textarea
                                    class="input input--area input--fill"
                                    name="USER_QUESTION"
                                    placeholder="Ваш вопрос"
                                    required
                                    data-input="textarea"
                            ></textarea>
                            <span class="form__warning">
                                    <svg class="form__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-attention-fill"></use>
                                    </svg>
                                    Поле заполнено некорректно
                                </span>
                        </label>
                        <fieldset class="form__wrapper form__wrapper-policy">
                            <button
                                    type="submit"
                                    class="form__button button button--middle button--field"
                                    data-submit
                                    data-agreement-button
                            >Отправить
                            </button>
                            <div class="form__policy">
                                <label class="filter-checkbox filter-checkbox--policy">
                                    <input class="hidden" type="checkbox" name="POLICY_ACCEPT" data-agreement-checkbox>
                                    <span class="checkbox">
                                            <svg>
                                                <use xlink:href="./assets/sprite/sprite.svg#icon-accept-second"></use>
                                            </svg>
                                        </span>
                                    <span class="filter-checkbox__info">
                                        Cогласие на обработку персональных данных и соглашаетесь c <a href="#">политикой конфиденциальности</a>
                                    </span>
                                </label>
                            </div>
                        </fieldset>
                        <p class="form__accepted" data-accept="2"><span>Успешно!</span> ваше сообщение отправлено</p>
                    </form>
                </div>
                <svg class="feedback__icon feedback__icon_orange">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-vector-orange"></use>
                </svg>
                <svg class="feedback__icon feedback__icon_blue">
                    <use xlink:href="./assets/sprite/sprite.svg#icon-vector-blue"></use>
                </svg>
            </div>
        </div>
    </section>
    <section class="section mb-100 mbm-50">
        <div class="container">
            <div class="text text--nums text--slim">
                <h3>Общие правила и отвественность</h3>
                <ol>
                    <li>
                        Доставка приобретённого товара осуществляется до подъезда, дачи или коттеджа – при наличии
                        путей, предназначенных для грузовых автомобилей. В противном случае доставка товара будет
                        выполнена максимально близко к месту планируемой выгрузки с учётом ПДД и вероятности повреждения
                        автомобиля.
                    </li>
                    <li>
                        Доставка осуществляется в выбранный покупателем временной интервал. Время доставки
                        согласовывается в момент оформления заказа. Покупатель уведомляется по телефону о прибытии
                        машины за 30 минут до прибытия.
                    </li>
                    <li>
                        Время ожидания покупателя водителем-экспедитором составляет 15 минут. По истечении этого времени
                        на контактный номер телефона покупателя будет отправлено смс-уведомление о невозможности
                        произвести доставку в связи с его отсутствием. Покупатель может заказать повторную доставку,
                        обратившись в магазин, где производилось первичное оформление. В этом случае доставка
                        покупателем оплачивается повторно.
                    </li>
                    <li>
                        Выгрузка товара осуществляется бесплатно силами продавца.
                    </li>
                    <li>
                        По желанию покупателя водитель-экспедитор может распаковать и показать товар. При возникновении
                        претензий к качеству и количеству товара, покупателю необходимо сделать соответствующую запись в
                        акте приёма-передачи. После этого водитель-экспедитор заберёт товар, от которого отказались.
                        После подписания акта приёма-передачи претензии по товару и его количеству не принимаются.
                    </li>
                    <li>
                        Если при подъёме и переносе товара существует угроза его механического повреждения, то подъём
                        товара не осуществляется. При этом деньги за доставку и подъём товара не возвращаются. Подъём
                        товара в подобных условиях возможен в том случае, если покупатель берёт на себя ответственность
                        за возможные механические повреждения и подтверждает это соответствующей отметкой в акте
                        приёма-передачи товара.
                    </li>
                    <li>
                        Раскрой и распил товара сотрудниками отдела доставки не осуществляется.
                    </li>
                    <li>
                        В целях безопасности сотрудники не выполняют подъём, перенос и передачу товара:- по пожарным и
                        приставным лестницам, лестницам без перил;- с выходом на крыши, в шахты лифтов, чердаки,
                        подвалы, помещения высотой ниже 180 см;- через оконные проёмы, ограждения и преграды, временные
                        сооружения и инженерные коммуникации;- в условиях недостаточной освещенности, повышенной
                        задымленности, загазованности, запыленности, а также в непосредственной близости к оголенным
                        электропроводам.
                    </li>
                    <li>
                        Стоимость доставки зависит от зоны доставки, веса и объема купленного товара.
                    </li>
                </ol>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>