<!DOCTYPE html>
<html lang="ru">

<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body" data-body>
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <%= htmlWebpackPlugin.options.breadcrumbs %>
    <section class="section section--primary ptm-40 pbm-40">
        <div class="container">
            <div class="columns columns--center">
                <div class="columns__col columns__col--6 columns__col--mob-4 mbm-20">
                    <h1 class="title mb-20">Комплектация объектов<br/> в 3 шага</h1>
                    <p class="subtitle mb-10">
                        Мы создали новый удобный функционал для <br/> сбора «избранных» товаров
                    </p>
                </div>
                <div class="columns__col columns__col--6 columns__col--mob-4">
                    <picture class="picture picture--preview picture--step">
                        <img src="../assets/images/project.png" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-100 ptm-60 pbm-40 pb-100">
        <div class="container">
            <div class="columns mb-60 mbm-40">
                <div class="columns__col columns__col--7">
                    <div class="text">
                        <h3>Как работать с проектами?</h3>
                        <p>
                            Комплектация объектов – это простой и удобный инструмент на основе привычного сохранения
                            товаров
                            избранное. Только теперь у вас есть возможность сохранять товары в свои комнаты, и
                            объединять их в
                            квартиры или или другие проекты.
                        </p>
                        <p>
                            Вы можете формировать коммерческое предложение их ваших проектов с ценами на товары и
                            презентовать
                            заказчику, передавать подрядчикам или советоваться с коллегами
                        </p>
                    </div>
                </div>
            </div>
            <div class="columns rgap-20">
                <div class="columns__col columns__col--3 columns__col--mob-2">
                    <article class="article-step">
                        <picture class="article-step__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                        <p>Сохраняйте товары, которые вам нравятся</p>
                    </article>
                </div>
                <div class="columns__col columns__col--3 columns__col--mob-2">
                    <article class="article-step">
                        <picture class="article-step__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                        <p>Составляйте из товаров целые комнаты и проекты</p>
                    </article>
                </div>
                <div class="columns__col columns__col--3 columns__col--mob-2">
                    <article class="article-step">
                        <picture class="article-step__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                        <p>Пишите комментарии к товарам и комнатам</p>
                    </article>
                </div>
                <div class="columns__col columns__col--3 columns__col--mob-2">
                    <article class="article-step">
                        <picture class="article-step__picture">
                            <img src="https://fakeimg.pl/600x400" alt="">
                        </picture>
                        <p>Отправляйте целые комнаты в корзину или выгружайте PDF</p>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gray pt-60 ptm-40 pbm-40 pb-60">
        <div class="container">
            <div class="columns columns--center">
                <div class="columns__col columns__col--4 columns__col--mob-4 mbm-20">
                    <h1 class="title title--small-m mb-20">Видео-инструкция</h1>
                    <p class="subtitle subtitle--small-m mb-10">
                        Посмотрите инструкцию работы с «Моими Проектами» чтобы воспользоваться всеми преимуществами
                        работы этой функции
                    </p>
                </div>
                <div class="columns__col columns__col--2 mob-hidden"></div>
                <div class="columns__col columns__col--6 columns__col--mob-4">
                    <picture class="picture picture--video">
                        <img src="https://fakeimg.pl/600x400" alt="">
                    </picture>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-80 ptm-40 pbm-60 pb-80">
        <div class="container">
            <div class="editor editor--20 editor--gray">
                <p>
                    Сервисы магазинов – широкий ассортимент товаров для строительства, ремонта и обустройства дома в
                    розничных магазинах и интернет-магазине Леруа Мерлен Краснодара. Подберите нужный товар в нашем
                    каталоге или загляните в ближайший гипермаркет Леруа Мерлен!
                </p>
                <p>
                    Леруа Мерлен предлагает широкий выбор товаров по низким ценам для жителей Краснодарского края, таких
                    как Анапа, Анапская, Апшеронск, Армавир, Архипо-Осиповка, Афипский, Ахтырский, Белая Глина,
                    Белореченск, Брюховецкая, Варениковская, Витязево, Выселки, Геленджик, Горячий Ключ, Гостагаевская,
                    Гулькевичи, Джубга, Дивноморское, Динская, Ейск, Елизаветинская, Ильский, Кабардинка, Калининская,
                    Каневская, Кореновск, Красная Поляна, Краснодар, Кропоткин, Крыловская, Курганинск, Кущёвская,
                    Лабинск, Лазаревское, Ленинградская, Лорис, Майкоп, Медведовская, Мостовской, Мысхако, Натухаевская,
                    Новокубанск, Новомихайловский, Новомышастовская, Новопокровская, Новотитаровская, Октябрьская,
                    Отрадная, Павловская, Пластуновская, Полтавская, Приморско-Ахтарск, Раевская, Северская,
                    Славянск-на-Кубани, Смоленская, Совхозный, Сочи, Старокорсунская станица, Староминская, Супсех,
                    Тамань, Тбилисская, Темрюк, Тимашёвск, Тихорецк, Трудобеликовский, Туапсе, Усть-Лабинск, Хадыженск,
                    Хутор Ленина, Цемдолина, Южный. Вы можете заказать необходимые товары онлайн с доставкой во все эти
                    города или посетить один из наших розничных магазинов.
                </p>
                <p>
                    Подробную информацию о магазинах Леруа Мерлен в Краснодаре и ассортименте продукции Вы найдете на
                    нашем сайте. Также Вы можете посетить наши гипермаркеты в Краснодаре и получить подробные
                    консультации по интересующим Вас вопросам непосредственно у наших специалистов.
                </p>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>