.lk-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: $black-light;

  @include r(1200) {
    font-size: rem(18);
    line-height: rem(22);
  }

  &--small {
    font-size: rem(18);
    line-height: rem(21);
  }
}